.mid_banner {
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  background-color: white;
}

button {
  background-color: white;
  border: none;
}

.bannerLogo {
  height: 60px;
}

.about_hl {
  width: 100%;
}

.logo_mean_left,
.logo_mean_right {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.logos {
  display: flex;
  width: 100vw;
}

.banner_btnItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
}

.logo_mean_left {
  opacity: 0;
  transform: translateX(-150px);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.logo_mean_left.o {
  opacity: 1;
  width: 100vw;
  transform: translateX(100px);
}
.logo_mean_right {
  opacity: 0;
  transform: translateX(100px);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.logo_mean_right.o {
  opacity: 1;
  width: 100vw;
  transform: translateX(-50px);
}

.MainPage {
  height: 950px;
  overflow: scroll;
}
.imageSlide {
}
.d-block {
  width: 100vw;
  object-fit: cover;
  height: 600px;
}
